
@{
    ViewData["Title"] = "Default";
    Layout = null;
}

<h2>Demo View Component</h2>
Views\Shared\Components\[ten-class-view-components]\Default.cshtml
<div>Dữ liệu gửi qua: @string.Join(", ", Model)</div>

